@import 'tailwindcss';

@theme {
}

body {
  font-family: "Inconsolata", sans-serif;
  background-color: #212121;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('~/assets/fonts/inconsolata/Inconsolata-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
